.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3e3e3;

    .login-box {
        width: 300px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .login-box {

        h2 {
            color: #333;
        }

        p {
            margin-bottom: 20px;
        }
    }

    .form-group {
        margin-bottom: 15px;
        text-align: left;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #555;
    }

    .form-group input {
        width: -webkit-fill-available;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
    }

    .login-button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .login-button:hover {
        background-color: #45a049;
    }

    .login-links {
        margin-top: 15px;
        font-size: 14px;
    }

    .login-links {
        a {
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        p {
            margin-top: 10px;
        }
    }

    .form-group{

        .show_password{
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            margin-top: 5px;
            margin-bottom: 0;

            input{
                width: fit-content;
            }

            label{
                font-size: 0.8rem;
                margin-top: 5px;
            }
        }
    }
}