.low-stock-products {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    transition: box-shadow 0.5s ease-in-out;

    h2{
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .low-stock-table {
        width: 100%;
        border-collapse: collapse;
    }

    .low-stock-table th,
    .low-stock-table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    .low-stock-table th {
        background-color: #f4f4f4;
    }

    .low-stock-table tr:nth-child(even) {
        background-color: #f0f0f0;
    }

    .low-stock-table td{
        text-transform: capitalize;
    }

    .low-stock-table .size{
        text-transform: lowercase;
    }

    tr:hover {
        background-color: #ddd;
    }

    .actions {
        display: flex;

        button {
            background-color: red;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            cursor: pointer;
            margin: 0 5px;
            display: flex;
            align-items: center;
            column-gap: 5px;
        }

        .edit {
            background-color: rgb(113, 190, 113);
        }
    }

}

.low-stock-products:hover {
    box-shadow: 0px 1px 10px #19191952;
}