.order-history {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    transition: box-shadow 0.5s ease-in-out;
}

.order-history:hover{
    box-shadow: 0px 1px 10px #19191952;
}

.order-history h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.order-history table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.order-history th,
.order-history td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.payement_mode{
    text-transform: capitalize;
}

.order-history th {
    background-color: #f4f4f4;
}

.order-history tr:nth-child(even) {
    background-color: #f0f0f0;
}

.order-history tr:hover {
    background-color: #ddd;
}

.order-history ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margin */
}

.order-history li {
    margin: 4px 0; /* Adds spacing between items */
}
