.sidebar {
    width: 250px;
    background-color: #6d3f82;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    ul {
        list-style-type: none;

    }

    a {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        padding: 10px;
        text-decoration: none;
        color: #fff;

        svg{
            font-size: 20px;
            font-weight: normal;
        }
    }

    a:hover {
        background-color: #4e2c5d;
    }

    .active-link{
        background-color: #4e2c5d;
    }
}