.top-products-container {
    margin: 20px 0;

    h2{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .filters {
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 2rem;
        margin-bottom: 20px;

        .rows,
        .category,
        .search_product {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            label {
                margin-bottom: 5px;
                font-size: 1rem;
                font-weight: 500;
            }

            input,
            select {
                padding: 8px;
                border-radius: 5px;
                border: 1px solid #ccc;
                font-weight: 500;
                color: #333;
                font-size: 0.9rem;
            }

            input:focus {
                outline: none;
            }

            select:focus {
                outline: none;
            }

            option {
                font-size: 1rem;
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    .page-controls button {
        margin: 0 2px;
        padding: 5px 10px;
    }

    .page-controls .active {
        background-color: #007bff;
        color: #fff;
    }

}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.product-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-table tbody tr:hover {
    background-color: #e1e1e1;
}