.users {

    .user-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            text-transform: capitalize;
        }

        th {
            background-color: #f2f2f2;
        }

        .email{
            text-transform: lowercase;
        }

        tr:nth-child(even) {
            background-color: #f0f0f0;
        }

        tr:hover {
            background-color: #ddd;
        }

        .actions {
            display: flex;

            button {
                background-color: red;
                color: white;
                border: none;
                border-radius: 4px;
                padding: 5px 10px;
                cursor: pointer;
                margin: 0 5px;
                display: flex;
                align-items: center;
                column-gap: 5px;
            }

            .edit {
                background-color: rgb(113, 190, 113);
            }
        }
    }
}